<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <rewrite>
                <rules>
					<rule name="Redirect to HTTPS" enabled="false" stopProcessing="true">
						<match url="(.*)" />
						<conditions>
							   <add input="{HTTPS}" pattern="^OFF$" />
							   <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
						</conditions>
						<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
					</rule>
                    <remove name="React Routes" />
                    <rule name="React Routes" enabled="true" stopProcessing="true">
                        <match url=".*" />
                        <conditions logicalGrouping="MatchAll">
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        </conditions>
                        <serverVariables />
                        <action type="Rewrite" url="/" />
                    </rule>
					<!-- 新增以下規則實現空 URL 到 /Index 的重定向 -->
                    <rule name="Redirect to Index" stopProcessing="true">
                        <match url="^$" />
                        <action type="Redirect" url="/Index" appendQueryString="true" />
                    </rule>
				</rules>
				<outboundRules>
					<rule name="CusHeader" enabled="true" patternSyntax="Wildcard">
						<match serverVariable="RESPONSE_Server" pattern="*" />
						<action type="Rewrite" value="Apache" />
					</rule>
				</outboundRules>
            </rewrite>
        </system.webServer>
    </location>
    <system.webServer>
        
		<httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0" />
                <add name="Pragma" value="no-cache" />
                <add name="Strict-Transport-Security" value="max-age=31536000 ; includeSubDomains; preload" />
                <add name="Content-Security-Policy" value="img-src https: http: blob: data:; frame-ancestors https://mazda-maintenance-portal.asiabots.com/ https://*.reida.com.tw https://*.genesys-tech.com;" />
                <add name="Permissions-Policy" value="camera=(self), microphone=(self), geolocation=(self)" />
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering removeServerHeader="true" />
        </security>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
        <caching>
            <profiles>
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
